<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Go by Example</title>
    <link rel="icon" href="favicon.ico">
    <link rel=stylesheet href="site.css">
    <script type="text/javascript">
      if (window.location.host == "oohira.github.io") {
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-88560400-2', 'auto');
        ga('send', 'pageview');
      }
    </script>
  </head>
  <body>
    <div id="intro">
      <h2><a href="./">Go by Example</a></h2>
      <p>
        この文書は、<a href="https://gobyexample.com/">Go by Example</a>
        の日本語訳となります。</p>
      <p></p>
      <p>
        <a href="https://go.dev">Go</a> は、オープンソースの
        プログラミング言語です。スケールしやすく、安全な、信頼性の高い
        ソフトウェアを開発できるように設計されています。詳しく知るには、
        <a href="https://go.dev/doc/tutorial/getting-started">公式ドキュメント</a>
        を読んでください。</p>
      <p>
        <em>Go by Example</em> は、コメント付きの
        サンプルプログラムを使った、ハンズオン形式の Go 入門です。
        <a href="hello-world.html">最初のサンプル</a> に進むか、
        下のリストから読んでください。</p>
      <p>
        特にことわりがない限り、ここでのサンプルは
        <a href="https://go.dev/doc/devel/release">Go の最新メジャーリリース</a>
        を前提としており、新しい言語機能を使っている可能性があります。うまく動作しない場合は、
        最新版にアップグレードしてください。</p>

      <ul>
      {{range .}}
        <li><a href="{{.ID}}.html">{{.Name}}</a></li>
      {{end}}
      </ul>
{{ template "footer" }}
    </div>
  </body>
</html>
